// Cards Carousel
// ----------------------------------------------

.icon-cards {
    position: relative;
      width: 40vmin;
      height: 40vmin;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    
    color: white;
      perspective: 1000px;
  
     


      &__content {
          background: #FDD94F;
          position: absolute;
          color: rgb(255, 255, 255);
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          transform: translateZ(0) rotateY(0);
          animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
      
      &.step-animation {
        animation: carousel 4s infinite linear forwards;
      }
      }
  
      // Individual cards
  
      &__item {
          position: absolute;
          top: 0;
          left: 0;
          width: 30vmin;
          height: 30vmin;
          opacity: 0.45;
      max-width: 380px;
      max-height: 250px;
      
      box-shadow: 0 5px 20px rgba(0,0,0,.1);
          border-radius: 120px;
  
          &:nth-child(1) {
              background: #FDD94F;
              transform: rotateY(0) translateZ(35vw);
          }
  
          &:nth-child(2) {
              
              background: #F87949;
              transform: rotateY(120deg) translateZ(35vw);
          }
  
          &:nth-child(3) {
              background: #FBAB48;
              transform: rotateY(240deg) translateZ(35vw);
          }
      }


       // This is the element that rotates with the animation
       &__content_1 {
        background: #dddddd;
        position: absolute;
        color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform: translateZ(0) rotateY(0);
       
       animation: carousel1 2s infinite linear forwards;
    
    }
    &__item_1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 30vmin;
        height: 30vmin;
        opacity: 0.45;
    max-width: 380px;
    max-height: 250px;
    
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
        border-radius: 120px;

        &:nth-child(1) {
            background: #FDD94F;
            transform: rotateY(0) translateZ(35vw);
        }

        &:nth-child(2) {
            
            background: #F87949;
            transform: rotateY(120deg) translateZ(35vw);
        }

        &:nth-child(3) {
            background: #FBAB48;
            transform: rotateY(240deg) translateZ(35vw);
        }
    }

    &__content_2 {
        background: #31a8a8;
        position: absolute;
        color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform: translateZ(0) rotateY(0);
       
       animation: carousel2 3s infinite linear reverse forwards;
    
    
    }
    &__item_2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 30vmin;
        height: 30vmin;
        opacity: 0.45;
    max-width: 380px;
    max-height: 250px;
    
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
        border-radius: 120px;

        &:nth-child(1) {
            background: #FDD94F;
            transform: rotateY(0) translateZ(35vw);
        }

        &:nth-child(2) {
            
            background: #F87949;
            transform: rotateY(120deg) translateZ(35vw);
        }

        &:nth-child(3) {
            background: #FBAB48;
            transform: rotateY(240deg) translateZ(35vw);
        }
    }
  }
  
  // Carousel animation
  
  @keyframes carousel {
      from  { transform: rotateX(30deg) rotateY(0); }
      50%    { transform: rotateX(45deg)  rotateY(-180deg); }
      to    { transform: rotateX(30deg) rotateY(-360deg); }
  }
  @keyframes carousel1 {
    from  { transform: rotateX(-45deg) rotateY(0); }
    50%    { transform: rotateX(-30deg)  rotateY(-180deg); }
    to    { transform: rotateX(-45deg) rotateY(-360deg); }
}
@keyframes carousel2 {
    from  { transform: rotateX(-15deg) rotateY(0); }
    50%    { transform: rotateX(-30deg)  rotateY(-180deg); }
    to    { transform: rotateX(-15deg) rotateY(-360deg); }
}
  // Demo only
  // ----------------------------------------------
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #16161d;
  }
  
